<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->


<h1>TOP BODY MAKE </h1>

<p>
  ようこそ！<%= @fullname %>様！一緒に頑張りましょう。
</p>

<p>
  こたえは<%= @x %>です。
</p>

<p>
  <%= link_to '目標体重管理', '/goals' %>
</p>

<p>
  <%= link_to '体重入力', '/progresses' %>
</p>
