<section class="goals">
  <h1>目標体重一覧</h1>
  <%- @goals.each do |goal| %>
    <p><%= goal.date.strftime("%Y年%m月%d日") %>  <%= goal.weight %>kg</p>
  <% end %>
  <%= link_to '新規追加', '/goals/new' %>
</section>
